body {
    margin: 0;
    padding: 0;
    background-color: #f5f1ea;
    font-family: "Segoe UI", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

h1 {
    color: #1f2a44;
    text-align: center;
    margin-bottom: 24px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #1f2a44;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #415381;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

button.a{
    flex: 1;
    padding: 15px;
    font-size: 18px;
    background-color:mediumseagreen;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button.a:hover {
    background-color: #98dd9e;
}